::ng-deep .segment > .expandable > span.segment-value {
  display: inline-block !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  width: 80vw !important;
}

::ng-deep .segment > .segment-main > span.segment-key {
  color: #9f58db !important;
}
