@import 'src/assets/scss/theme.scss';

.element-list {
	min-height: 60px;
	background: $mainColor;
	border-radius: 5px;
	overflow: hidden;
	display: block;

	padding: 5px;
	margin: 5px;
}

/*
	Do not move inside the .element-list
	If you move it insdie .element-list, the style of dragging .element-box will be broken
*/
.element-box {
	padding: 20px 10px;
	border: solid 1px $borderColor;
	color: $fontColor;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background: $contentColor;
	font-size: 14px;
	margin: 5px;
	position: relative;
	display: inline-block;
	min-width: 270px;
	width: calc(100% - 10px);

	.marker {
		position: absolute;
		right: 10px;
		top: 18px;
		font-size: 18px;
		font-weight: lighter;
		cursor: pointer;
		margin-left: 5px;
	}
	
	i {
		margin-right: 5px;
	}
	
	.title {
		font-weight: 500;
		margin-bottom: 3px;
		width: 100%;
	}
	
	.title i {
		margin-right: 5px;
	}
	
	.subtitle {
		font-size: smaller;
		font-weight: normal;
		padding-left: 20px;
		width: 100%;
	}
	
	.title span.ellipse, .subtitle span.ellipse {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		display: block;
	}	
}

.element-box.element {
	cursor: pointer;
}

.element-box.selected {
	background-color: $selectedStateColor;
}	
