::ng-deep .headerNaverCloudPlatform {
	background-image: url('/assets/images/cloud/header/NaverCloudPlatform.png');
}

::ng-deep .headerAmazon {
	background-image: url('/assets/images/cloud/Amazon.png');
}

::ng-deep .headerAmazonEfs {
	background-image: url('/assets/images/cloud/AmazonEfs.png');
}

::ng-deep .headerGoogle {
	background-image: url('/assets/images/cloud/Google.png');
}

::ng-deep .headerKTucloudBiz {
	background-image: url('/assets/images/cloud/KTucloudBiz.png');
}

::ng-deep .headerMSAzure {
	background-image: url('/assets/images/cloud/MSAzure.png');
}

::ng-deep .headerOpenstack {
	background-image: url('/assets/images/cloud/Openstack.png');
}

::ng-deep .headerOpenstackV3 {
	background-image: url('/assets/images/cloud/OpenstackV3.png');
}

::ng-deep .headerOpenstackV2 {
	background-image: url('/assets/images/cloud/OpenstackV2.png');
}

::ng-deep .headerVMWareVCenter {
	background-image: url('/assets/images/cloud/VMWareVCenter.png');
}

::ng-deep .headerKubernetes {
	background-image: url('/assets/images/cloud/Kubernetes.png');
}

::ng-deep .headerNutanix {
	background-image: url('/assets/images/cloud/Nutanix.png');
}

::ng-deep .headerRackspace {
	background-image: url('/assets/images/cloud/Rackspace.png');
}

::ng-deep .headerTencentCloud {
	background-image: url('/assets/images/cloud/TencentCloud.png');
}

::ng-deep .headerTestCloud {
	background-image: url('/assets/images/cloud/TestCloud.png');
}

::ng-deep .headerLegacyCloud {
	background-image: url('/assets/images/cloud/LegacyCloud.png');
}

::ng-deep .headerHosting {
	background-image: url('/assets/images/cloud/Hosting.png');
}

::ng-deep .headerObsolete {
	background-image: url('/assets/images/cloud/Obsolete.png');
}
