/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';

span.status:before {
	font-family: FontAwesome;
	content:  "\f111";
	/*--adjust as necessary--*/
	font-size: 14pt;
	font-weight: bold;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

span.status {
	vertical-align: top;
}

span.none:before, span.None:before {
	color: #D3D3D6;
}
span.uninstalled:before, span.Uninstalled:before {
	color: #D3D3D6;
}
span.installing:before, span.Installing:before {
	color: #B8B800;
}
span.installed:before, span.Installed:before {
	color: #66CCFF;
}
span.verified:before, span.Verifying:before {
	color: #FFCC33;
}
span.verified:before, span.Verified:before {
	color: #33CC33;
}
span.failed:before, span.Failed:before {
	color: #FF0000;
}
span.failedToVerify:before, span.FailedToVerify:before {
	color: #FF0000;
}
span.failedToInstall:before, span.FailedToInstall:before {
	color: #FF0000;
}

/*
	Boolean
*/

span.true:before, span.True:before {
	color: #33CC33;
}
span.false:before, span.False:before {
	color: #ff0000;
}

/*
	Event Alram Level
*/

span.severity:before {
	font-family: FontAwesome;
	content:  "\f111";
	/*--adjust as necessary--*/
	font-size: 14pt;
	font-weight: bold;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

span.severity.disaster:before {
	color: #E45959;
}
span.severity.high:before {
	color: #E97659;
}
span.severity.average:before {
	color: #FFA059;
}
span.severity.warning:before {
	color: #FFC859;
}
span.severity.information:before {
	color: #7499FF;
}
span.severity.not-classified:before {
	color: #97AAB3;
}

/*
	Host State
*/

span.enabled:before, span.Enabled:before, span.up:before, span.Up:before {
	color: #33CC33;
}
span.disabled:before, span.Disabled:before, span.down:before, span.Down:before {
	color: #FF9900;
}


/*
	Instance State
*/

span.error:before, span.Error:before {
	color: #ff0000;
}
span.fail:before, span.Fail:before {
	color: #ff0000;
}
span.failed:before, span.Failed:before {
	color: #f44336;
}
span.running:before, span.Running:before {
	color: #33CC33;
}
span.completed:before, span.Completed:before {
	color: #33CC33;
}
span.success:before, span.Success:before, span.succeeded:before, span.Succeeded:before {
	color: #33CC33;
}
span.stopped:before, span.Stopped:before {
	color: #FF9900;
}
span.pending:before, span.Pending:before {
	color: #D3D3D6;
}
span.building:before, span.Building:before {
	color: #B8B800;
}
span.creating:before, span.Creating:before {
	color: #66CCFF;
}
span.starting:before, span.Starting:before {
	color: #66CCFF;
}
span.updating:before, span.Updating:before {
	color: #e8eb66;
}
span.rebooting:before, span.Rebooting:before {
	color: #6600CC;
}
span.stopping:before, span.Stopping:before {
	color: #FF9900;
}
span.deleting:before, span.Deleting:before {
	color: #FF3399;
}
span.terminating:before, span.Terminating:before {
	color: #FF3399;
}
span.terminated:before, span.Terminated:before {
	color: #FF0000;
}

/*
	Load Balancer State
*/
span.status.active:before, span.status.Active:before {
	color: #33CC33;
}
span.available:before, span.Available:before, span.detached:before, span.Detached:before, span.status.allocated:before, span.status.Allocated:before {
	color: #33CC33;
}
span.inuse:before, span.InUse:before, span.status.attached:before, span.status.Attached:before {
	color: lightseagreen;
}

span.status.inactive:before, span.status.Inactive:before {
	color: darkgray;
}

span.creating-volume:before, span.attaching-volume:before, span.attached-volume:before, span.detaching-volume:before, span.detached-volume:before, span.deleting-volume:before, span.Creating-volume:before, span.Attaching-volume:before, span.Attached-volume:before, span.Detaching-volume:before, span.Detached-volume:before, span.Deleting-volume:before {
	color: #337AB7;
	font-family: FontAwesome;
	content:  "\f1c0";
	/*--adjust as necessary--*/
	font-size: 14pt;
	font-weight: bold;
	margin-right: 5px;
}
	
span.attaching-security:before, span.detaching-security:before, span.Attaching-security:before, span.Detaching-security:before {
	color: #B8B800;
	font-family: FontAwesome;
	content:  "\f084";
	/*--adjust as necessary--*/
	font-size: 14pt;
	font-weight: bold;
	margin-right: 5px;
}
