$mainColor: var(--mainColor);
$contentColor: var(--contentColor);
$fontColor: var(--fontColor);
$underlineColor: var(--underlineColor);
$pointColor: var(--pointColor);
$borderColor: var(--borderColor);
$gridColor: var(--gridColor);
$hoverColor: var(--hoverColor);
$hoverFontColor: var(--hoverFontColor);
$buttonColor: var(--buttonColor);
$impactColor: var(--impactColor);

$toolbarBackgroundColor: var(--toolbarBackgroundColor);
$toolbarColor: var(--toolbarColor);
$toolbarSelectionColor: var(--toolbarSelectionColor);
$toolbarSelectionBackgroundColor: var(--toolbarSelectionBackgroundColor);

$selectedStateColor: var(--selectedStateColor);
$abnormalStateColor: var(--abnormalStateColor);
$incompleteStateColor: var(--incompleteStateColor);
$progressStateColor: var(--progressStateColor);
$completedStateColor: var(--completedStateColor);

$workflowBackground: var(--workflowBackground);
$workflowGrid: var(--workflowGrid);

$normalBorder: var(--normalBorder);
$startBorder: var(--startBorder);
$normalSelect: var(--normalSelect);
$startSelect: var(--startSelect);
$normalText: var(--normalText);
$startSelectText: var(--startSelectText);
$normalSelectText: var(--normalSelectText);
$normalBackground: var(--normalBackground);
$chainSelect: var(--chainSelect);
$chainBackground: var(--chainBackground);
