.container {
  height: 100%;
  padding: 1%;

  .detail-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .metering-container {
      grid-column: 1 / 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }

    .resource-container {
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }

  .button-container {
    float: right;
    text-align: right;
    margin-top: 10px;
  }

  .content {
    clear: both;
    margin-top: 20px;

    .tableList {
      width: 100px;
    }

    .ngx-json-viewer {
      .segment {
        .expandable {
          width: 100px;
        }
        .segment-main {
          width: 100px !important;

          span {
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
