/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~font-awesome/css/font-awesome.css';
@import 'src/assets/scss/theme.scss';

body {
  color: $fontColor;
  background-color: $contentColor;

  a:hover {
    color: $hoverColor;
  }
}

.mat-form-field {
  color: $fontColor !important;

  .mat-form-field-label {
    color: inherit;
  }
}

#chartjs-tooltip {
  background-color: white;
}

html, body {
  height: 100%;
}

span.enabled:before, span.Enabled:before, span.up:before, span.Up:before {
  color: #33CC33;
}
span.disabled:before, span.Disabled:before, span.down:before, span.Down:before {
  color: #FF9900;
}
